[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://git.openembedded.org/bitbake
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "layers/meta-cyclonedx"]
	path = layers/meta-cyclonedx
	url = https://github.com/balena-os/meta-cyclonedx
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
