[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://git.openembedded.org/bitbake
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "layers/meta-cyclonedx"]
	path = layers/meta-cyclonedx
	url = https://github.com/balena-os/meta-cyclonedx
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-tegra"]
	path = layers/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
[submodule "layers/meta-yocto"]
	path = layers/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = https://git.openembedded.org/openembedded-core
