[Unit]
Description=Bind mount for /etc/modprobe.d/nvidia-drm.conf
Requires=resin-state.service resin-state-reset.service nv-state-files-init.service
After=resin-state.service resin-state-reset.service nv-state-files-init.service
ConditionPathExists=/mnt/state/root-overlay/etc/modprobe.d/nvidia-drm.conf
RequiresMountsFor=/mnt/state/root-overlay/etc/modprobe.d/nvidia-drm.conf

[Mount]
What=/mnt/state/root-overlay/etc/modprobe.d/nvidia-drm.conf
Where=/etc/modprobe.d/nvidia-drm.conf
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
